In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Feature 1': [5, 10, 15, 20],
    'Feature 2': [100, 200, 300, 400],
    'Color': ['Red', 'Blue', 'Green', 'Blue']}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

   Feature 1  Feature 2  Color
0          5        100    Red
1         10        200   Blue
2         15        300  Green
3         20        400   Blue

In [5]:
df_encoding = pd.get_dummies(df, columns=['Color'])

In [6]:
df_encoding

   Feature 1  Feature 2  Color_Blue  Color_Green  Color_Red
0          5        100           0            0          1
1         10        200           1            0          0
2         15        300           0            1          0
3         20        400           1            0          0

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()

In [9]:
df['Color'] = le.fit_transform(df['Color'])

In [10]:
df

   Feature 1  Feature 2  Color
0          5        100      2
1         10        200      0
2         15        300      1
3         20        400      0

In [11]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
model = DecisionTreeClassifier()

In [13]:
from sklearn.model_selection import train_test_split

In [15]:
Y = df['Color']
X = df.drop('Color', axis=1)

In [16]:
X

   Feature 1  Feature 2
0          5        100
1         10        200
2         15        300
3         20        400

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=123, stratify=Y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.